doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title || 'Document'}
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      include ../views/includes/menu.pug
    
    main
      block content
    
    block scripts
    
    include ../views/includes/footer.pug